{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Ajouter un article ! ✅</h1>

        {{ form_start(form) }}

        {{ form_label(form.titre) }}
        {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.titre, {'attr': {'class': 'text-danger'}}) }}


        {{ form_label(form.contenu) }}
        {{ form_widget(form.contenu, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.contenu, {'attr': {'class': 'text-danger'}}) }}

        {{ form_label(form.category) }}
        {{ form_widget(form.category, {'attr': {'class': 'form-select'}}) }}
        {{ form_errors(form.category, {'attr': {'class': 'text-danger'}}) }}


        {{ form_end(form) }}

    </div>
{% endblock %}
