{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">

        <h1>
            Trier les articles
        </h1>

        <div>
            {{ form_start(searchForm) }}
            {{ form_end(searchForm) }}

        </div>

        <h2>Tous les articles ! ✅</h2>

        <div class="row">

            {% if articles|length == 0 %}
                Aucun résultat
            {% endif %}
            {% for article in articles %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.titre }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ article.category }} - {{ article.dateAjout|date('d/m/Y') }}</h6>
                        <p class="card-text">{{ article.contenu }}</p>
                    </div>
                </div>
            {% endfor %}


        </div>

    </div>
{% endblock %}
